#ScrollView {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: 0s;
}

#IMGUIContainer {
    transition-duration: 0s;
    transition-delay: 0s;
    display: none;
}

#Panel {
    height: 48px;
}

#ToolbarLineContainer {
    opacity: 0;
}

#CollapsedInfo {
    opacity: 1;
}
