.button {
    flex-grow: 1;
}

.buttonsLine {
    width: 100%;
    flex-shrink: 0;
    margin-top: 2px;
    flex-direction: row;
}

EnumField Label {
    min-width: 35px;
}

#WorkspacesColumn > Toggle Label {
    -unity-font-style: bold;
}

.title {
    font-size: 14px;
    -unity-font-style: bold;
    -unity-text-align: upper-left;
    margin-bottom: 5px;
}

.column {
    flex-shrink: 0;
    margin-right: 10px;
}

Toggle Label {
    min-width: 120px;
}
