.unity-progress-bar__container {
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.unity-progress-bar__background {
    background-color: rgba(255, 255, 255, 0);
}

.unity-progress-bar__title-container {
    background-color: rgba(0, 0, 0, 0);
}

.hp-bar .unity-progress-bar__progress {
    background-color: rgb(53, 209, 0);
    margin: 0;
    height: 20px;
}

.background-bar .unity-progress-bar__progress {
    background-color: rgb(226, 74, 52);
    margin: 0;
    height: 20px;
}
